<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="chat-wrapper">
    <div class="chat-container">
        <div class="chat-window"></div>
        <div class="chat-functions">
            <input title="chat-input" class="chat-input" type="text" value="">
            <input title="chat-submit" class="chat-submit" type="button" value="Submit">
        </div>
    </div>
</div>