body{
    background: #000;
    color: #fff;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


a{color: #00B7FF;}


.chat-wrapper{
    width:100%;
}
.chat-container{
    background: #fff;
    width: 400px;
    margin:0 auto;
}
.chat-window{
    height: 750px;
    border: 1px solid black;
}

.chat-functions{
    width:100%;
    position: fixed;
    bottom:0px;
    left:0px;
}
.chat-functions input{
    margin-top: 5px;
    margin-bottom: 5px;
}
.chat-input{
    width:75%;
}
.chat-submit{

    width:20%;
    background: green;
    border: none;
    color: white;
    height: 20px;
}